<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /

    SetEnv HTTP_MOD_REWRITE On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]

</IfModule>
