/* ------------------Widget box--------------------*/

.widget {
    padding: 0;
    border: 1px solid #c9c9c9;
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(222, 2222, 222, 0.1), 1px 1px 0px 0px rgba(255, 255, 255, 1);
    box-shadow: inset 1px 1px 0px 0px rgba(222, 222, 222, 0.1), 1px 1px 0px 0px rgba(255, 255, 255, 1);
    margin-bottom: 1px;
    background: #fefefe;
    position: relative;
}
.widget.second {margin-top: 20px;} 
.widget.plain {background: #ffffff;}
    .widget .widget-title {
        height: auto;
        position: relative;
        border-bottom: 1px solid #c9c9c9;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
        background: #ffffff; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-8 */
        
    }
    .widget.drag .widget-title {
        cursor: move;
    }
        .widget .widget-title.pattern1 {background: url(../images/patterns/debut_light.png) repeat;}
        .widget.plain .widget-title {border-bottom: none; box-shadow: none; background: none;padding: 2px 0 3px;filter: none;}
        .widget .widget-title h4 {margin-top: 0; margin-bottom: 0; font-weight: 700; color: #777777; display: inline-block;padding:11px 0 11px 50px;}
        .widget.plain .widget-title h4 {padding-left: 0;}
            .widget.plain .widget-title i {margin-top: -4px;}
        .widget .widget-title .icon {
            float: left;
            border-right: 1px solid #c9c9c9;
            width: 41px;
            height: 100%;
            box-shadow: none;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center
        }
        .widget .widget-title .icon:after {
            position: absolute;
            top: 0;
            left:0;
            width: 39px;
            height: 98%;
            content: "";
            -webkit-box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 1), 1px 0px 0px 0px rgba(255, 255, 255, 1);
            box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 1), 1px 0px 0px 0px rgba(255, 255, 255, 1);
        }
        .widget .widget-title .icon:before {
            position: absolute;
            top: 0;
            left:1px;
            width: 38px;
            height: 97%;
            content: "";
            -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 1), 0px 1px 0px 0px rgba(255, 255, 255, 1);
            box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 1), 0px 1px 0px 0px rgba(255, 255, 255, 1);
        }
            .widget .widget-title .icon i {color:#777777;margin-top: 9px;}
        .widget.plain .widget-title i {margin-left: 15px;}

        .widget .widget-title .minimize, .widget .widget-title .maximize, .widget .widget-title .close {
            width: 24px; height: 24px;
            float: right;
            margin-top: 9px;
            margin-right: 10px;
            border:1px solid transparent;
        }
        .widget .widget-title .minimize:hover, .widget .widget-title .maximize:hover {border:1px dashed #c9c9c9; -webkit-transition: 0.15s all ease-in; -moz-transition: 0.15s all ease-in; -o-transition: 0.15s all ease-in; transition: 0.15s all ease-in;}
        .widget .widget-title .minimize:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border: solid 6px;
            border-color: transparent transparent #777 transparent;
            margin-top: 2px;
            margin-left: 5px;
        }
        .widget .widget-title .maximize:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border: solid 6px;
            border-color: #777 transparent transparent transparent;
            margin-top: 9px;
            margin-left: 4px;
        }
        .widget .widget-title .w-right {float: right;margin-top: 5px;margin-bottom: 5px;margin-right: 10px;padding-top: 5px;}
            .widget .widget-title .w-right .btn-full {
                height: 40px;
                margin-top: -10px;
                margin-right: -10px;
            }
            .widget .widget-title .w-right .progress {min-width: 100px; margin-top: 8px;}
            .widget .widget-title .w-right .search-query {
                margin-bottom: 0;
                min-height: 24px !important;
                line-height: 24px;
                margin-top: -5px;
                background: #ffffff;
            }
            .widget .widget-title .w-right div.selector {margin-top: -5px;height: 30px; background: white;}
                .widget .widget-title .w-right div.selector span {height: 30px;background-position: right -3px;}
                .widget .widget-title .w-right div.selector select {top: -8px; height: 30px;}

            .widget .widget-title .w-right .has-switch {margin-top: -9px;}
    .widget .widget-content {padding: 15px;}
        .widget .widget-content table {margin-bottom: 0;}
        .widget .widget-content.noPadding {padding: 0;}
        .widget .widget-content.noPadding table {
            margin-bottom: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
            border-top: 0;
        }
            .widget .widget-content.noPadding table thead th {box-shadow: none;}
        .widget .widget-content.noPadding .tabs-left, .widget .widget-content.noPadding .tabs-right {margin-bottom: 0;}
        .widget .widget-content.noPadding .nav-tabs > li > a {border-top-color: transparent;}
            .widget .widget-content.noPadding .tabs-below .nav-tabs > li > a {border-bottom-color: transparent; border-top-color: #c9c9c9;}
            .widget .widget-content.noPadding .tabs-below .nav-tabs > .active > a {border-top-color: transparent;}
            .widget .widget-content.noPadding .tabs-left .nav-tabs > li > a {border-top-color: #c9c9c9; border-left: 0;}
            .widget .widget-content.noPadding .tabs-left .nav-tabs > li:first-child > a {border-top-color: transparent;}
            .widget .widget-content.noPadding .tabs-left .nav-tabs > li:last-child > a {border-bottom-color: transparent;}
            .widget .widget-content.noPadding .tabs-right .nav-tabs > li > a {border-top-color: #c9c9c9; border-right: 0;}
            .widget .widget-content.noPadding .tabs-right .nav-tabs > li:first-child > a {border-top-color: transparent; border-left-color: #c9c9c9;}
            .widget .widget-content.noPadding .tabs-right .nav-tabs > li:last-child > a {border-bottom-color: transparent;}
        .widget .widget-content.noPadding .nav-tabs > li:first-child > a {border-left-color: transparent;}
        .widget .widget-content.noPadding .tab-content {border-left: 0;border-right: 0; border-bottom: 0;}
            .widget .widget-content.noPadding .tabs-below .tab-content {border-left: 0;border-right: 0; border-top: 0; border-bottom: 1px;}
            .widget .widget-content.noPadding .tabs-left .tab-content {border-left: 1px;border-right: 0; border-top: 0; border-bottom: 0;}
            .widget .widget-content.noPadding .tabs-right .tab-content {border-left:0;border-right: 1px; border-top: 0; border-bottom: 0;}
        .widget .widget-content.slideDown {
            display: block;
        }
        .widget .widget-content.slideUp {
            display: none;
        }
        
        
/*Colors*/
.white {color: #ffffff;}
.dark {color: #6f7a8a;}
.red {color: #f40a0a;}
.red-smooth {color: #d8605f;}
.blue {color: #62aeef;}
.green {color: #72b110;}
.yellow {color: #f7cb38;}
.orange {color: #F88C00;}        